// COLOR
$color-primary: hsl(195, 90%, 30%);
$color-primary-dark: hsl(195, 90%, 20%);
$color-primary-light: hsl(195, 90%, 40%);

$color-dark: hsl(0, 0%, 20%);
$color-light: hsl(0, 0%, 90%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-grey: hsl(0, 0%, 50%);
$color-grey-dark: hsl(0, 0%, 10%);
$color-grey-light: hsl(0, 0%, 90%);

$color-danger: hsl(0, 100%, 50%);
$color-success: hsl(120, 100%, 25%);

$color-accent: maroon;

// FONT
$font-main: "Raleway", sans-serif;


// OTHER
$max-width: 110rem;