.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: .1rem solid $color-primary;
    opacity: .9;

    &__brand a,
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__links {
        list-style: none;
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 1rem;
    }
}